USE [master]
GO
/****** Object:  Database [MiniQQ]    Script Date: 2022/5/22 17:46:32 ******/
CREATE DATABASE [MiniQQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniQQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MiniQQ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiniQQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MiniQQ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniQQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniQQ]
GO
/****** Object:  Table [dbo].[T001用户表]    Script Date: 2022/5/22 17:46:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T001用户表](
	[QQ号] [nvarchar](50) NOT NULL,
	[昵称] [nvarchar](50) NOT NULL,
	[生日] [date] NOT NULL,
	[密码] [nvarchar](50) NOT NULL,
	[性别] [nchar](1) NOT NULL,
	[邮箱] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_T001用户表] PRIMARY KEY CLUSTERED 
(
	[QQ号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T002好友表]    Script Date: 2022/5/22 17:46:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T002好友表](
	[id] [nvarchar](50) NOT NULL,
	[QQ号] [nvarchar](50) NULL,
	[姓名] [nvarchar](50) NULL,
	[电话] [nvarchar](50) NULL,
 CONSTRAINT [PK_T002好友表] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T001用户表] ([QQ号], [昵称], [生日], [密码], [性别], [邮箱]) VALUES (N'077', N'string', CAST(N'2022-02-23' AS Date), N'string', N's', N'string')
INSERT [dbo].[T001用户表] ([QQ号], [昵称], [生日], [密码], [性别], [邮箱]) VALUES (N'110', N'Link', CAST(N'2022-01-02' AS Date), N'8008208820', N'2', N'110@qq.com')
INSERT [dbo].[T001用户表] ([QQ号], [昵称], [生日], [密码], [性别], [邮箱]) VALUES (N'119', N'Zelda', CAST(N'2022-02-23' AS Date), N'stringfff', N'e', N'nonono@qq.com')
GO
INSERT [dbo].[T002好友表] ([id], [QQ号], [姓名], [电话]) VALUES (N'0c952cfc-0cfa-4e35-af39-7853b1e6109e', N'32483', N'Larry Harry', N'123123')
INSERT [dbo].[T002好友表] ([id], [QQ号], [姓名], [电话]) VALUES (N'2ade1ce3-54a6-55e3-f8f6-8a32769c97b0', N'44554', N'str5', N'9999')
INSERT [dbo].[T002好友表] ([id], [QQ号], [姓名], [电话]) VALUES (N'ad98fda7-2f30-165e-d91f-b0bbfa36b7ca', N'12732', N'larry', N'55433')
GO
USE [master]
GO
