@{
    Layout = "_LayoutTest";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>查看另一个作品 <br /><a href="https://gitee.com/luo--liwen/Solitaire_.git">用C# WinForm实现空当接龙</a>.</p>
</div>
